


/*[ FONT ]
///////////////////////////////////////////////////////////
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Courgette');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');




/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Montserrat, sans-serif;
  font-weight: 400;
}

/* ------------------------------------ */
a {
	font-family: Montserrat;
  font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #ec1d25;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Montserrat;
  font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
 input {
	outline: none;
	border: none !important;
}

select {
	outline: none;

}

textarea {
  outline: none;
}



button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


/*[ Button3 ]
///////////////////////////////////////////////////////////
*/
.btn3 {
  background: #222222;
  border-radius: 10px;
}

.btn3:active {
    transform: scale(0.90);
box-shadow: 0 0 20px gray;
background-color: grey;
}

.btn3:hover {
  background-color: #ec1d25;
  color: white;
}

/* Menu Title */
.h2-menu {
	/* background-color: red; */
}

/* Show Card Button */

.showCard {
	position: fixed;
	width: 80px;
	height: 40px;
	top: 100px;
	right: -8px;
	background-color: red;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	border-radius: 4px;
	
}

.showCardButton {
	font-size: 22px;
	color: white;
	line-height: 1em;
  }
  
.showCard:hover {
	opacity: 1;
	cursor: pointer;
	background-color: black;
}  
  @media (max-width: 576px) {
	.showCard {
	  bottom: 15px;
	  right: 15px;
	}
  }
















